.profileHeaderContainer {
  color: white;
  /* background-color: #3de982; */
  width: 100%;
  margin: auto;
  min-height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url("https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  animation: slideDown 1s ease-in-out 0s 1 both;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.barcode {
  opacity: 0.6;
  width: 150px;
  height: 150px;
}
.BarcodeContainer {
  width: 200px;
  height: 200px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.studentProfileContainer {
  width: 90%;
  height: 85px;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -26px;
  left: 4%;
  display: flex;
  align-items: center;
}
.studentProfilePicture {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/Love.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.menuContainer {
  background-color: black;
  width: 100%;
  position: absolute;
  display: none;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -65.5px;
  z-index: -1;
  align-items: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.stuentFullName {
  color: white;
  font-size: 1rem;
  margin: 0 0 8px 8px;
}
.studentMenuHeader {
  display: flex;
  list-style: none;
  margin: auto;
}
.studentMenuItem {
  background: none;
}
.studentMenuItemActive {
  color: dodgerblue;
}

.studentMenuItem:hover {
  color: dodgerblue;
  background: none;
}
.studentMobilMenuContainer {
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
}
.studentMobileiconList {
  background: none;
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
}
.listItemMobileIcon {
  background: none;
  margin: 0;
  font-size: 1.1rem;
  margin-right: auto;
}
.listItemMobileIconActive {
  color: dodgerblue;
  transform: translateY(-3px);
}
.listItemMobileIcon:hover {
  color: dodgerblue;
  transform: translateY(-3px);
}

.studentPageContent {
  margin: auto;
  width: 90%;
  margin-top: 36px;
  border: 1px solid dodgerblue;
  display: flex;
  justify-content: center;
  color: white;
  animation: slideUp 1s ease-out 0s 1 both;
}
@keyframes slideUp {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
  .stuentFullName {
    font-size: 1.5rem;
  }
  .barcode {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
  .BarcodeContainer {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
  .BarcodeContainer {
    width: 200px;
    height: 200px;
  }
  .menuContainer {
    display: flex;
  }
  .studentMobilMenuContainer {
    display: none;
  }
  .studentPageContent {
    margin: auto;
    border: 1px solid dodgerblue;
    width: 66.6%;
    margin-top: 76px;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
