* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #161414;
}
.stepContainer {
  text-align: center;
  color: white;
  width: 90%;
  margin: 32px auto;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.subStepContainer {
  display: flex;
}
.stepCircle {
  background-color: blueviolet;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.stepLine {
  width: 80px;
  height: 3px;
  background-color: blueviolet;
  align-self: center;
}
.stepText {
  justify-self: center;
  align-self: center;
}
.inactiveStep {
  background-color: grey;
}
.inactiveText {
  color: grey;
}
.stepOneHeaderText {
  color: white;
  text-align: center;
}
.academictypesContainer {
  max-width: 500px;
  width: 80%;
  height: auto;
  background-color: white;
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
}
.academicType {
  background-color: blueviolet;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  margin: 8px;
  cursor: auto;
}
.academicType:hover {
  background-color: rgb(93, 31, 151);
}
.closeIconContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.closeIconContainer:hover {
  color: rgb(255, 0, 0);
}
.academicTypeText {
  display: flex;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
