* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: #161414;
}
.stepContainer {
  text-align: center;
  color: white;
  width: 90%;
  margin: 32px auto;
  height: auto;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.subStepContainer {
  display: flex;
}
.stepCircle {
  background-color: blueviolet;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}
.stepLine {
  width: 40%;
  height: 3px;
  background-color: blueviolet;
  align-self: center;
}
.stepText {
  justify-self: center;
  align-self: center;
}
.inactiveStep {
  background-color: grey;
}
.inactiveText {
  color: grey;
}
.stepOneHeaderText {
  color: white;
  text-align: center;
}
.academictypesContainer {
  max-width: 500px;
  width: 80%;
  height: auto;
  background-color: white;
  margin: 32px auto;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.academicType {
  background-color: blueviolet;
  color: white;
  width: 42%;
  height: 30px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 12px;
  margin: 8px;
  cursor: auto;
}
.academicType:hover {
  background-color: rgb(93, 31, 151);
}
.closeIconContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
}
.closeIconContainer:hover {
  color: rgb(255, 0, 0);
}
.academicTypeText {
  display: flex;
  align-items: center;
  align-self: center;
  cursor: pointer;
}
select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33%;
  }
  .col-xl-2 {
    width: 16.66%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33%;
  }
  .col-xl-5 {
    width: 41.66%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33%;
  }
  .col-xl-8 {
    width: 66.66%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33%;
  }
  .col-xl-11 {
    width: 91.66%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
